.icon-ooopic_1495530093{background-image: url('../sprite.png');background-position: 0pxpx 0pxpx;width:100px;height:100px;}
.icon-ooopic_1495530138{background-image: url('../sprite.png');background-position: 0pxpx -100pxpx;width:100px;height:100px;}
.icon-ooopic_1495530152{background-image: url('../sprite.png');background-position: 0pxpx -200pxpx;width:100px;height:100px;}
.icon-ooopic_1495530163{background-image: url('../sprite.png');background-position: 0pxpx -300pxpx;width:100px;height:100px;}
.icon-ooopic_1495530177{background-image: url('../sprite.png');background-position: 0pxpx -400pxpx;width:100px;height:100px;}
.icon-ooopic_1495530186{background-image: url('../sprite.png');background-position: 0pxpx -500pxpx;width:100px;height:100px;}
